@font-face {
    font-family: myFont;
    font-style: normal;
    src: url('fonts/Vazirmatn.woff2') format('woff2'), url('fonts/Vazirmatn.ttf') format('truetype')
}

* {
    font-family: myFont;
    padding: 0;
    /* border: 0; */
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
}

hr {
    border: 3px solid #fcbf17;
    margin: 60px 0;
}
h2{
    font-size: 60px;
    margin: 20px 0 30px;
    color: teal;
}

strong{
    font-size: 46px;
}
a{
    font-weight: bold;
    font-size: 46px;
    color: #007bff;
    text-decoration: none;
}

.clearfix {
    clear: both;
}

.parent {
    margin: 20px 20px 300px;
    width: 96%;

}

.header {
    background-image: linear-gradient(to bottom, #cccccc, #fff);
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}


.head_pic {
    display: block;
    border-radius: 40px;
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.head_title {
    font-size: 70px;
    padding: 20px 20px 0 0;
    height: auto;
    width: 100%;
    color: rgb(24 24 27);


}

.head_detail {
    margin: 30px 60px 0 0;
    width: auto;
    display: inline-block;
    height: auto;
}

.detail_pic {

    height: 50px;
    display: block;
    float: right;

}

.detail_text,
.detail_time {
    color: rgb(100 116 139);
    margin: 3px 20px 3px 40px;
    font-size: 28px;
    display: block;
    float: right;
}

.main {
    width: 100%;
    height: auto;
    padding: 20px 20px 0;
    font-size: 44px;
    color: #1c1917;
}

.main_img {
    width: 100%;
}








test{
    color: rgb(24 24 27);  /* title*/
    color: rgb(28 25 23);  /* text*/
    color: rgb(100 116 139);  /* detail*/
    color: rgb(159 18 57);  /* subtitle*/
    color: rgb(91 33 182);  /* subtitle2*/
    color: rgb(13 148 136);  /* subtitle3*/
    color: rgb(0 123 255);  /* link*/
    }
    
    